<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styleport.css')}}">
</head>
<body>
    <nav>
    <!-- app.py-dakı def index() funksiyasına yönləndirir -->
    <a href="{{ url_for('index') }}">Home</a> | 
    
    <!-- app.py-dakı def about() funksiyasına yönləndirir -->
    <a href="{{ url_for('about') }}">About</a> | 
    
    <!-- app.py-dakı def projects() funksiyasına yönləndirir -->
    <a href="{{ url_for('projects') }}">Projects</a>
    </nav>

    <div class="line"> <hr> </div>
    <h2 id="hide">About:</h2>
        <button onclick="hideMessage()">Hide</button>
        <button onclick="showMessage()">Show</button>
        <div class="about">
            {{profile['about']}}
        </div>
        <br>
        <a href="/">Home</a>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>